.custom-btn {
    width: 148px;
    height: 40px;
    top: 218.3px;
    left: 1059px;
    padding: 0px 16px 0px 16px;
    gap: 8px;
    border-radius: 4px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #171C8F
}