<div>
    <div class="custom-modal-header">
        <div class="flex-grow-1 d-flex align-items-center">
            <span class="modal-icon"><img src="assets/icons/orange-star-icon.svg" alt="star-icon" /></span>
            <h4>Customize Quick Links</h4>
        </div>

        <div class="close-modal">
            <img src="assets/icons/close-blue-icon.svg" alt="close-icon" />
        </div>
    </div>
    <div class="custom-modal-body">
        <p class="selected-links">6 Selected (Maximum 6 quick links)</p>
        <div class="quick-link-cards">
            <div class="active default">
                <span>Default</span>
                <p>My Dashboard</p>
            </div>
            <div class="active default">
                <span>Default</span>
                <p>New NOC</p>
            </div>
            <div class="default">
                <p>Informational Service</p>
            </div>
            <div class="active">
                <p>Concept Design NOC</p>
            </div>
            <div class="active">
                <p>Trail Trenches NOC</p>
            </div>
            <div>
                <p>Construction NOC</p>
            </div>
            <div>
                <p>Final Clearance</p>
            </div>
            <div class="active">
                <p>Rail NOC</p>
            </div>
            <div class="active">
                <p>Trail Trenches NOC</p>
            </div>
        </div>
    </div>
</div>