*{
    font-family: 'Dubai';
}

.container {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;

    .stepper-container {
        width: 30%;
        padding: 20px;
        display: flex;
        flex-direction: column;

        .step {
            display: flex;
            align-items: center;
            margin: 15px 0;
            position: relative;

            .step-icon {
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 20px;
                background: var(--fadded-blue);
                width: 28px;
                height: 28px;
                position: relative;

                ::after {
                    content: '';
                    height: 38px;
                    width: 1px;
                    background-color: #ccc;
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    margin-top: 10px;
                }

                span {
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                }

                .checkmark {
                    width: 16px;
                    height: 16px;
                    background-color: var(--secondary-optimistic); // Green for completed steps
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-size: 12px;
                    display: flex !important;
                    justify-content: center;
                    align-items: center;
                }
            }

            .step-content {
                .step-number {
                    font-size: 12px;
                    color: #777;
                    margin: 0;
                    font-family: 'Dubai Bold' !important;
                    padding-top: 20px;
                }

                .step-title {
                    font-size: 16px;
                    font-weight: bold;
                    margin: 5px 0 0;
                }
            }

            &.active .step-icon {
                background: var(--fadded-blue); // Blue for current step

                span {
                    background: var(--color-primary-blue);
                }
            }

            &.completed .step-icon {
                background: var(--fadded-green);

                // Green background for completed steps
                span {
                    background: var(--secondary-optimistic);
                    // Hide the default inner dot
                }

                .checkmark {
                    display: block;
                }
            }

            &.active .step-title {
                color: var(--color-primary-blue);
            }
        }
    }



    .content-container {
        width: 100%;
        height: 100%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 20px;
        min-height: 100%;
        
        .content {
            padding: 20px;
            background: #EEEEEE;
            display: flex;
            gap: 20px;
            color: var(--color-primary-blue);

            
            .step_name_count{
                .step-number {
                    font-size: 14px;
                    margin: 0;
                    padding-top: 20px;
                    line-height: 20px; 
                }

                h2{
                    margin: 0;
                    font-weight: 700;
                }

            }

            h1{
                margin: 0;
                display: flex;
                align-items: center;
                font-size: 30px;
            }

        }

        .navigation-buttons {
            display: flex;
            justify-content: flex-end;


            button {
                padding: 10px 20px;
                margin-left: 10px;
                font-size: 14px;
                cursor: pointer;
                border: none;
                background-color: var(--color-primary-blue);
                color: white;
                transition: background-color 0.3s;

                width: 228px;
                height: 56px;
                border-radius: 8px;


                &:hover {
                    background-color: var(--color-primary-blue);
                }

                &:disabled {
                    background-color: #ccc !important;
                    cursor: not-allowed;
                }
            }

            .secondary_btn{
                border: 1px solid #CBCCCE;
                background-color: unset !important;
                color: var(--light-gray);
            }
        }
    }
}

.step:last-child .step-icon span::after {
    display: none;
}


.Stepper_page{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-grow: 1;

    .inner_content{
        height: 320px;
        width: 100%;
        border-radius: 8px;
    }
}

.right_content_page{
    box-shadow: 0px 4px 16px 0px #7F7F7F1A;
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}