.starIcon {
  padding-right: 10px;
}

.gearIcon {
   margin-right: 0px;
   padding-right: 0px;
   border: 1px solid black;
}

.cardDiv {
    border: 1px solid black;
    height: 20vh;
}

.noc-icon {
  margin-right: 10px;
}