<div>
    <app-subnav />
    <app-dashboard-header />
    <div class="container">
        <div class="position-relative">
            <div class="dashboard-actions">
                <div class="position-relative">
                    <span class="actions-icon"><img src="assets/icons/drafts-icon.svg" alt="save" /></span>
                    <span class="app-counts d-flex align-items-center justify-content-center">7</span>
                </div>
                <div class="position-relative">
                    <span class="actions-icon"><img src="assets/icons/comments-blue-icon.svg" alt="save" /></span>
                    <span class="app-counts d-flex align-items-center justify-content-center">2</span>
                </div>
            </div>
            <app-dashboard-tabs />
        </div>
    </div>
</div>