<div class="row" style="width: 100%;">
    <div class="col-12" style="width: 100%;">
        <table class="table">
            <thead class="common-table-head">
                <tr class="bg-info">
                    <!-- Select All Checkbox -->
                    <th>
                        <input type="checkbox" [checked]="selectAllChecked" (change)="toggleSelectAll()" />
                    </th>
                    <th (click)="sortTable('id')">
                        <div class="table-th">
                            Reference ID <span class="table-sort-icon">{{ getSortIcon('id') }}</span>
                        </div>
                    </th>
                    <th (click)="sortTable('name')">
                        <div class="table-th">Employee Name <span class="table-sort-icon">{{ getSortIcon('name')
                                }}</span></div>
                    </th>
                    <th (click)="sortTable('email')">
                        <div class="table-th"> Email <span class="table-sort-icon">{{ getSortIcon('email') }}</span>
                        </div>
                    </th>
                    <th (click)="sortTable('phone')">
                        <div class="table-th">Phone <span class="table-sort-icon">{{ getSortIcon('phone') }}</span>
                        </div>
                    </th>
                    <th (click)="sortTable('username')">
                        <div class="table-th">Username <span class="table-sort-icon">{{ getSortIcon('username')
                                }}</span></div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-row-td" *ngFor="let row of custData; trackBy: trackById">
                    <!-- Row Checkbox -->
                    <td>
                        <input type="checkbox" [(ngModel)]="row.isSelected" (change)="updateSelectAllState()" />
                    </td>
                    <td>N{{ row.id }}765343</td>
                    <td>{{ row.name }}</td>
                    <td>{{ row.email }}</td>
                    <td>{{ row.phone }}</td>
                    <td>{{ row.username }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>