<div>
    <div class="sub-nav-wrapper">
        <div class="container">
            <div class="sub-nav">
                <div class="breadcrumb-styles">
                    <span>Home</span>
                    <span class="slash">/</span>
                    <span class="active-location">My Dashboard</span>
                </div>
                <div class="">
                    <div class="d-flex align-items-center nav-shorcuts">
                        <span class="search-icon">
                            <img src="assets/icons/search-icon.svg" class="status-icon" alt="Comment Icon" />
                        </span>
                        <span>
                            <img src="assets/icons/info-icon.svg" class="status-icon" alt="Comment Icon" />
                        </span>
                        <span class="announcement-icon">
                            <img src="assets/icons/announcement-active.svg" class="status-icon" alt="Comment Icon" />
                        </span>
                        <span>
                            <img src="assets/icons/notification-active.svg" class="status-icon" alt="Comment Icon" />
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>