<body>
    <section class="responsive-section">
        <div class="container">
            <div class="scrollable_section">
                <div class="box_scroll"></div>
                <div class="box_scroll"></div>
                <div class="box_scroll"></div>
                <div class="box_scroll"></div>
            </div>
        </div>
    </section>
    <section class="responsive-section">
      <div class="container">
        <div class="main-box">
          <div class="box Details_box">

            <div class="welcome_heading">
                <div class="d-flex gap-2">
                    <div class="img_div">
                        <img src="assets/icons/Yellow-Star.svg" alt="IMG">
                    </div>
                    <div class="text_div">
                        <h2 class="fw-bolder">My Quick Links</h2>
                    </div>
                </div>
                <div class="setting_button">
                    <div class="img_div">
                        <img src="assets/icons/Settings-logo.svg" alt="IMG">
                    </div>
                </div>
            </div>
            <div class="Dashboard_boxes">
                <div class="Dashboard_box"></div>
                <div class="Dashboard_box"></div>
                <div class="Dashboard_box"></div>
                <div class="Dashboard_box"></div>
                <div class="Dashboard_box"></div>
                <div class="Dashboard_box"></div>
            </div>

          </div>
          <div class="box calendar_box"></div>
        </div>
      </div>
    </section>
    <section class="responsive-section">
      <div class="container">
        <div class="label_box">
          <img src="../../../assets/images/i_icon.svg" alt="">
          <label class="labels">Information links</label>
        </div>
        <div class="scrollable_links">
          <div class="box_scroll_links"></div>
          <div class="box_scroll_links"></div>
          <div class="box_scroll_links"></div>
          <div class="box_scroll_links"></div>
          <div class="box_scroll_links"></div>
          <div class="box_scroll_links"></div>
        </div>
      </div>
    </section>
  </body>
  