<div class="card notify-card-container">
    <div class="card-header notify-header-card">
        <div>
            <img class="notify-img" src="assets/images/bell.svg" /> <span class="notify-card-title">Notifications
                ({{notifyData.length}})</span>
        </div>
        <div>
            <img src="assets/images/dashboard/cross.svg" />
        </div>
    </div>
    <ul class="notify-card-list-container">
        <li *ngFor="let item of notifyData; let index = index" class="list-group-item notify-card-li-group">
            <div>
                <span class="list-li-item"> {{item.title}}</span>
                <p class="list-li-item-one"> {{item.subtitle}} </p>
            </div>
            <span class="list-li-item-date">{{item.date}}</span>
        </li>
    </ul>
</div>