<div>
    <div class="custom-modal-header">
        <div class="flex-grow-1 d-flex align-items-center">
            <h4>New NOC</h4>
        </div>
        <div class="close-modal">
            <img src="assets/icons/close-blue-icon.svg" alt="close-icon" />
        </div>
    </div>
    <div class="custom-modal-body">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <div class="d-flex align-items-center">
                            <div>
                                <img src="assets/icons/orange-star-icon.svg" alt="selected" />
                            </div>
                            <div class="noc-icon">
                                <img src="assets/icons/noc-icons/concept-design.svg" alt="selected" />
                            </div>
                            <div>
                                <h5 class="mb-0">Concept Design NOC</h5>
                            </div>
                        </div>
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul>
                            <li>Concept design NOC</li>
                            <li>Pre-final design NOC for development</li>
                            <li>Projects/Community access</li>
                            <li>Preliminary design NOC</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <div class="d-flex align-items-center">
                            <div>
                                <img src="assets/icons/outline-star-icon.svg" alt="selected" />
                            </div>
                            <div class="noc-icon">
                                <img src="assets/icons/noc-icons/info-service.svg" alt="selected" />
                            </div>
                            <div>
                                <h5 class="mb-0">Informational Service</h5>
                            </div>
                        </div>
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Content for Informational Service.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        <div class="d-flex align-items-center">
                            <div>
                                <img src="assets/icons/orange-star-icon.svg" alt="selected" />
                            </div>
                            <div class="noc-icon">
                                <img src="assets/icons/noc-icons/trial-trench.svg" alt="selected" />
                            </div>
                            <div>
                                <h5 class="mb-0">Trail Trenches NOC</h5>
                            </div>
                        </div>
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Content for Trail Trenches NOC.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        <div class="d-flex align-items-center">
                            <div>
                                <img src="assets/icons/orange-star-icon.svg" alt="selected" />
                            </div>
                            <div class="noc-icon">
                                <img src="assets/icons/noc-icons/construction.svg" alt="selected" />
                            </div>
                            <div>
                                <h5 class="mb-0">Construction NOC</h5>
                            </div>
                        </div>
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Content for Construction NOC.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        <div class="d-flex align-items-center">
                            <div>
                                <img src="assets/icons/orange-star-icon.svg" alt="selected" />
                            </div>
                            <div class="noc-icon">
                                <img src="assets/icons/noc-icons/final-clearance.svg" alt="selected" />
                            </div>
                            <div>
                                <h5 class="mb-0">Final Clearance</h5>
                            </div>
                        </div>

                    </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Content for Final Clearance.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                        <div class="d-flex align-items-center">
                            <div>
                                <img src="assets/icons/outline-star-icon.svg" alt="selected" />
                            </div>
                            <div class="noc-icon">
                                <img src="assets/icons/noc-icons/rail-noc.svg" alt="selected" />
                            </div>
                            <div>
                                <h5 class="mb-0">Rail NOC</h5>
                            </div>
                        </div>

                    </button>
                </h2>
                <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Content for Rail NOC.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                        <div class="d-flex align-items-center">
                            <div>
                                <img src="assets/icons/outline-star-icon.svg" alt="selected" />
                            </div>
                            <div class="noc-icon">
                                <img src="assets/icons/horizontal-dots-icon.svg" alt="selected" />
                            </div>
                            <div>
                                <h5 class="mb-0">Others</h5>
                            </div>
                        </div>
                    </button>
                </h2>
                <div id="flush-collapseSeven" class="accordion-collapse collapse"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Content for Others.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>