<div class="meetings-widget">
    <div class="header">
      <i class="bi bi-calendar3 calendar-icon"></i>
      <span class="myMeetings">My Meetings</span>
      <!-- <button class="view-all" (click)="viewAllHandler()" > View all </button> -->
      <button class="view-all" [routerLink]="'viewallcalender'" > View all </button>
    </div>
    <div class="controls">
      <button (click)="leftRightClickHandler('left')" > <i class="bi bi-chevron-left"></i> </button>
      <button class="Today" (click)="todayClickHandler()" >Today</button>
      <button (click)="leftRightClickHandler('right')" > <i class="bi bi-chevron-right"></i> </button>
    </div>
    <div class="calendar">  
      <p>{{ displayedMonth }}  {{ displayedYear }}</p>

      <div class="dates">
        <span *ngFor="let day of days; let i = index" >
          <button
            (click)="dateClickHandler(day)"
            [class.selected]="selectedDate.getDate() === day"
            [ngClass]="{'dot': hasMeetingOnDay(day)}"
            class="weekdaysButton"
          >
            {{ day }}
          </button>
        </span>
      </div>

    </div>
    @if( today.toDateString() === selectedDate.toDateString() ){
        <p><strong>Today</strong></p> 
    } @else if( isTomorrow ){
        <p><strong>Tomorrow</strong></p> 
    }
    <p *ngFor="let meeting of meetingsForSelectedDate" class="meeting">
        <span class="meetingTime"> {{ meeting.time }} </span> - <span class="meetingWith"> {{ meeting.description }} </span>
        <a [routerLink]="'/join/' + meeting.id">Join</a>
      </p>
      
      <p *ngIf="meetingsForSelectedDate.length === 0">No meetings available.</p>

  </div>
  
  