.meetings-widget {
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  max-width: 300px;
  height: 350px;
}

.calendar-icon {
  color: rgb(29, 20, 199);
}

.myMeetings {
  color: rgba(11, 11, 82, 0.74);
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view-all {
  font-size: 0.9rem;
  color: blue;
  text-decoration: underline;
  background-color: transparent;
  border: none;
}

.controls {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.controls .Today {
  display: inline-block;
  width: 200px;
  background-color: #eaeaeabd;
  color: rgba(11, 11, 82, 0.74);
}

.controls button {
  background: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
}

.calendar {
  text-align: center;
}

.weekdays {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.weekdaysButton {
  color: rgb(108, 108, 116);
  border: none;
  background-color: transparent;
  font-size: large;
  font-weight: bold;
}

.dates {
  display: flex;
  justify-content: space-between;
}

.dates span {
  padding: 4px;
}

.selected {
  background: blue;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
}

.dot::after {
  content: "";
  display: inline-block;
  margin: 4px auto 0;
  width: 6px;
  height: 6px;
  background: red;
  border-radius: 50%;
  position: absolute;
  margin-left: 8px;
  margin-top: -5px;
}

.meetings {
  margin-top: 16px;
}

.meeting {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  background-color: #eaeaeabd;
  padding: 8px;
  border-radius: 5px;
}

.meeting a {
  color: blue;
  text-decoration: underline;
}

.meetingTime {
  color: blue;
}

.meetingWith {
  font-size: 15px;
  color: rgb(108, 108, 116);
}
