<div>
    <div class="container">
        <div class="dashboard-header d-flex justify-content-between align-items-center">
            <div>
                <h2>My Dashboard</h2>
            </div>
            <div class="header-actions d-flex">
                <button type="button" class="btn btn-outline-primary">ROW Fines</button>
                <button type="button" class="btn btn-outline-primary">Apply Deposit Refund</button>
                <button type="button" class="btn btn-primary"><img src="assets/icons/add-white-icon.svg" class="me-2" /> New NOC</button>
            </div>
        </div>
    </div>
</div>