.cardDiv {
    border: 1px solid rgb(224, 218, 218);
    margin: 10px;
}

.cardDiv:hover{
    border: 1px solid black;
}

.divSelected {
    border: 1px solid black;
    border-radius: 5px;
}

.defaultBadge {
    background-color: rgb(169, 173, 237, 0.4);
    color: rgb(95, 9, 177);
    padding: 2px 5px;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: relative; 
  }
  
  h6 {
    flex: 1;
    display: flex;
    align-items: center;
  }
  
  .btn-close-wrapper {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
    background: rgb(123, 137, 228);
    border: none;
    outline: none;
    color: black;
    text-align: center;
    padding-bottom: 10px;
  }
  
