/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import './app/common/css/mixins.scss';



@font-face {
  font-family: 'Dubai Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Dubai Regular'), url('../public/assets/fonts/dubai-webfont/Dubai-Regular.woff') format('woff');
}


@font-face {
  font-family: 'Dubai Light';
  font-style: normal;
  font-weight: normal;
  src: local('Dubai Light'), url('../public/assets/fonts/dubai-webfont/Dubai-Light.woff') format('woff');
}


@font-face {
  font-family: 'Dubai Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Dubai Medium'), url('../public/assets/fonts/dubai-webfont/Dubai-Medium.woff') format('woff');
}


@font-face {
  font-family: 'Dubai Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Dubai Bold'), url('../public/assets/fonts/dubai-webfont/Dubai-Bold.woff') format('woff');
}



:root {
  /* Primary Colors */
  --color-primary-red: #e71425;
  --color-primary-blue: #171C8F;

  /* Secondary Colors */
  --secondary-happy: #fdb62b;
  /* Happy */
  --secondary-fascinated: #fd7022;
  /* Fascinated */
  --secondary-inspired: #ce19ab;
  /* Inspired */
  --secondary-imaginary: #7e38c4;
  /* Imagery */
  --secondary-relaxed: #1162dd;
  /* Relaxed */
  --secondary-unique: #1bafb7;
  /* Unique */
  --secondary-optimistic: #19af58;
  /* Optimistic */
  --secondary-grounded: #a1a430;
  /* Grounded */
  --bg-F5F5F5: #F5F5F5;
  /* Grounded */

  /* By Classification */

  /* BUS Colors */
  --color-bus-rta: #1c1362;
  --color-bus-urban: #6e328e;
  --color-bus-urban-cbd: #e3b83b;
  --color-bus-feeder: #3d70b5;
  --color-bus-inter-city: #d27827;
  --color-bus-express: #b13592;

  --color-bus-night: #1c1760;
  --color-bus-seasonal: #6e328e;
  --color-bus-expo: #784d2b;
  --color-bus-on-demand: #e91d2f;

  --color-navlink-blue: #172B4D;
  --bg-E8E8F4: #E8E8F4;
  --color-E4E7EA: #E4E7EA;
  --color-F5F4F4: #F5F4F4;
  --color-DFE2E6: #DFE2E6;

  /* Metro Colors */
  --color-metro-red: #e91d2f;
  --color-metro-green: #0aae53;
  --color-metro-tram: #f47922;

  /* Marine Colors */
  --color-marine-night: #00b9f1;
  --color-marine-seasonal: #b0af30;
  --color-marine-expo: #01b5b8;
  --color-marine-on-demand-blue: #2c4280;
  --color-marine-on-demand-darker-blue: #0074bc;
}

/* Typography mixin using CSS variables */
@mixin typography($font-size,
  $line-height,
  $font-weight: normal,
  $font-family: "Dubai Regular"

) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  font-family: $font-family;
}

/* Headline styles */
h1 {
  @include typography(24px, 28px, 400);
}

h2 {
  @include typography(22px, 24px, 500);
}

h3 {
  @include typography(18px, 22px);
}

body {
  @include typography(16px, 18px);
  background-color: #FAFAFA !important;
}

p {
  @include typography(14px, 16px);
  margin: 0
}

.small {
  @include typography(12px, 14px);
}

// buttons 
button {
  @include flex-center;
  border-radius: 4px !important;
  font-size: 14px;
}

.btn-outline-primary {
  border: 1px solid var(--color-primary-blue) !important;
  color: var(--color-primary-blue) !important;
}

.btn-outline-primary:hover {
  background-color: var(--color-primary-blue) !important;
  color: #fff !important;
}

.btn-primary {
  border: 1px solid var(--color-primary-blue) !important;
  background-color: var(--color-primary-blue) !important;
  color: #fff !important;
}


.custom-modal-header {
  background-color: var(--color-F5F4F4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px;
  font-size: 18px;

  .modal-icon {
    margin: 0 10px 0 0;
  }

  h4 {
    font-weight: 700;
    color: #172B4D;
    margin: 0;
  }

  .close-modal {
    background-color: var(--color-DFE2E6);
    padding: 6px;
  }
}

.custom-modal-body {
  padding: 20px 40px;
}