<div class="table-wrapper">
    <div class="table-responsive">
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th></th>
                    <th>
                        <div class="d-flex align-items-center justify-content-between">
                            <p>Reference #</p> <span><img src="assets/icons/table-col-sort-icon.svg" /></span>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center justify-content-between">
                            <p>Type</p>
                            <span><img src="assets/icons/table-col-sort-icon.svg" /></span>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center justify-content-between">
                            <p>Date Applied</p>
                            <span><img src="assets/icons/table-col-sort-icon.svg" /></span>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center justify-content-between">
                            <p>Client</p> <span><img src="assets/icons/table-col-sort-icon.svg" /></span>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center justify-content-between">
                            <p>Project Code</p> <span><img src="assets/icons/table-col-sort-icon.svg" /></span>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center justify-content-between">
                            <p>Project Type</p> <span><img src="assets/icons/table-col-sort-icon.svg" /></span>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center justify-content-between">
                            <p>Status</p> <span><img src="assets/icons/table-col-sort-icon.svg" /></span>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center justify-content-between">
                            <p>Submission Duration</p> <span><img src="assets/icons/table-col-sort-icon.svg" /></span>
                        </div>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span><img src="assets/icons/vertical-dots-icon.svg" alt="more" /></span>
                    </td>
                    <td>
                        <p class="application-link">NOC-04401233-2023</p>
                    </td>
                    <td>
                        <p>Trial Trenches NOC</p>
                    </td>
                    <td>
                        <p>04/01/2022</p>
                    </td>
                    <td>
                        <p>EtihadRail</p>
                    </td>
                    <td>
                        <p>1993</p>
                    </td>
                    <td>
                        <p>Building</p>
                    </td>
                    <td>
                        <p class="app-status">Submitted</p>
                    </td>
                    <td>
                        <p>6/7</p>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span><img src="assets/icons/vertical-dots-icon.svg" alt="more" /></span>
                    </td>
                    <td>
                        <p class="application-link">NOC-04401233-2023</p>
                    </td>
                    <td>
                        <p>Trial Trenches NOC</p>
                    </td>
                    <td>
                        <p>04/01/2022</p>
                    </td>
                    <td>
                        <p>EtihadRail</p>
                    </td>
                    <td>
                        <p>1993</p>
                    </td>
                    <td>
                        <p>Building</p>
                    </td>
                    <td>
                        <p class="app-status rejected">Rejected</p>
                    </td>
                    <td>
                        <p>6/7</p>
                    </td>
                    <td>
                        <span><img src="assets/icons/rejected-app-icon.svg" /></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span><img src="assets/icons/vertical-dots-icon.svg" alt="more" /></span>
                    </td>
                    <td>
                        <p class="application-link">NOC-04401233-2023</p>
                    </td>
                    <td>
                        <p>Trial Trenches NOC</p>
                    </td>
                    <td>
                        <p>04/01/2022</p>
                    </td>
                    <td>
                        <p>EtihadRail</p>
                    </td>
                    <td>
                        <p>1993</p>
                    </td>
                    <td>
                        <p>Building</p>
                    </td>
                    <td>
                        <p class="app-status">In Progress</p>
                    </td>
                    <td>
                        <p>6/7</p>
                    </td>
                    <td>
                        <span><img src="assets/icons/in-progress-icon.svg" /></span>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="pagination-wrapper">
        <div>
            <p class="current-range d-inline-block me-1">1 - 8</p>
            <p class="total-range d-inline-block">of 100</p>
        </div>
        <span class="navigation-btns">
            <img src="assets/icons/pagination-left-icon.svg" />
            <img src="assets/icons/pagination-right-icon.svg" />
        </span>
    </div>
</div>